.movie-description {
	margin-bottom: .625em;
	font-size: 1.25rem;
	line-height: 1.56;
}
.movie-description h2 {
	margin-bottom: 10px;
	color: #89a;
	font-size: 1.25rem;
	line-height: 1.53;
	text-transform: uppercase;
	letter-spacing: .075em;
}
.movie-description p {
	margin-bottom: .625em;
	font-size: 1.25rem;
}
.movie-description .more {
	color: #def;
}
.movie-description .more:hover {
	color: #40bcf4;
}
.movie-description [aria-expanded=true] {
	color: #678;
}
