.movie-info {
	clear: both;
	height: 130px;
	margin-bottom: 1.538rem;
}
.movie-info .poster {
	float: left;
	width: 86px;
	height: 129px;
	margin-right: 14px;
}
.movie-info h1 {
	margin-bottom: 3px;
	font-size: 24px;
	line-height: 1;
	text-shadow: #000 2px 0 5px;
}
.movie-info .title-en {
	margin-right: 4px;
	color: #fff;
	line-height: 1.2;
}
.movie-info .year {
	color: #def;
	font-size: 18px;
	line-height: 1.6;
}
.movie-info .title-ru {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.6;
	text-shadow: #000 2px 0 5px;
}
.movie-info .title-ru span {
	color: #def;
}
.movie-info .trailer {
	position: relative;
	top: 1px;
	padding: 7px 8px 6px;
	border-radius: 5px;
	background-color: #456;
	color: #9ab;
	font-size: .916rem;
	letter-spacing: 0.8px;
	transition: color .1s;
}
.movie-info .trailer:before {
	content: "";
	display: inline-block;
	width: 10px;
    height: 14px;
    margin-right: 5px;
    background-image: url('../../img/icon-play.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
    line-height: 14px;
	vertical-align: middle;
    opacity: 1;
	transition: opacity .1s;
}
