.movie-meta {
	margin-top: 35px;
}

.movie-meta .nav-tabs {
	margin-bottom: 14px;
	border-bottom-color: #456;
}
.movie-meta .nav-item {
	margin-right: 15px;
	margin-bottom: 10px;
}
.movie-meta .nav-link {
	padding-top: 0;
	padding-bottom: 5px;
	border: 1px solid #14181c;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: #00e054;
	font-size: 13px;
}
.movie-meta .nav-link:hover {
	border-color: #14181c;
	border-bottom-color: #00e054;
}
.movie-meta .nav-link:active {
	border-color: #14181c;
}
.movie-meta .nav-link.active {
	border-color: #14181c;
	border-bottom-color: #fff;
	background-color: transparent;
	color: #fff;
}
@media (max-width: 575.98px) { /*.col-   с префиксом */
	.movie-meta .nav-item {
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.movie-meta .tab-pane {
	padding-bottom: 10px;
}
.movie-meta .label {
	display: block;
	margin-top: 10px;
	margin-bottom: 8px;
	color: #def;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .075em;
}
.movie-meta .badge {
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 1em;
	padding: 3px 6px;
    border-radius: 3px;
	background-color: #242c34;
	font-size: 1.15rem;
	font-weight: 400;
	line-height: 1.5;
    white-space: nowrap;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.1);
}
.movie-meta [data-toggle="tooltip"]:hover {
	color: #def;
	background-color: #303840;
    cursor: pointer;
}
.movie-meta .text p {
	margin-bottom: .625em;
	font-size: 1.3rem;
	line-height: 1.56;
}
.movie-meta .text a {
	color: #def;
}
.movie-meta .text a:hover {
	color: #40bcf4;
}

.movie-meta .rating {
	margin-bottom: 15px;
}
.movie-meta .rating img {
	display: inline-block;
	margin-right: 5px;
	border-radius: 50%;
}
.movie-meta .rating strong {
	color: #abc;
	font-size: 14px;
	font-weight: 700;
}
.movie-meta .rating .date {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 0;
	font-size: 14px;
	color: #678;
}
.movie-meta .rating .icon {
	top: 4px;
	display: inline-block;
	height: 16px;
	margin-left: 5px;
	background-position: -450px -50px;
}
.movie-meta .rating .rated-5 {
	width: 64px;
}
.movie-meta .rating .rated-4 {
	width: 51px;
}
.movie-meta .rating .rated-3 {
	width: 38px; /* уточнить */
}
.movie-meta .rating .rated-2 {
	width: 25px;  /* уточнить */
}
.movie-meta .rating .rated-1 {
	width: 12px;
}
